html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.search-form {
  display: flex;
  justify-content: center;
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
}
.stats-item {
  display: flex;
  align-items: center;
}
.stats-item:not(:last-child) {
  margin-right: 15px;
}
.material-icons {
  margin-right: 10px;
}

.btn {
  border: none;
  font-size: 18px;
  color: #ffffff;
  border-radius: 15px;
  background-color: purple;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
}
.is-hiden {
  display: none;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
